/* Product Page */
.container{
    display: flex;
    gap: 1vw;
    margin-top: 5vw;
}

.product-card-rare{
    display: flex;
    justify-content: space-around;
    align-items: end;
    text-align: center;
    width: 30vw;
    height: 10vw;
    border: solid 1px;
    background-color: #C0C0C0;
    text-decoration: none;
    color: black;
    border-radius: 1vw;
    box-shadow: 0vw 0.63vw 1.34vw rgba(0, 0, 0, 0.25);
}

.product-card-srare{
    display: flex;
    justify-content: space-around;
    align-items: end;
    text-align: center;
    width: 30vw;
    height: 10vw;
    border: solid 1px;
    background-color:#CFAA41;
    text-decoration: none;
    color: black;
    border-radius: 1vw;
    box-shadow: 0vw 0.63vw 1.34vw rgba(0, 0, 0, 0.25);
}

.product-card-ssrare{
    display: flex;
    justify-content: space-around;
    align-items: end;
    text-align: center;
    width: 30vw;
    height: 10vw;
    border: solid 1px;
    background-color: #ff6961;
    text-decoration: none;
    color: black;
    border-radius: 1vw;
    box-shadow: 0vw 0.63vw 1.34vw rgba(0, 0, 0, 0.25);
}




/* .product-img{
    width: 8vw;
    height: 8vw;

} */
